body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav {
    background-color: #0f1f4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
}

.logo-nav {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-nav img {
    height: 300px;
    margin-left: -40px;
}

.botoes-nav {
    display: flex;
    gap: 10px;
}

.botao {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid white;
}

.botao-criar {
    background-color: white;
    color: #0f1f4b;
}

.botao-perfil {
    background-color: transparent;
    color: white;
}

/* Principal */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Tabelas */
table {
    border-collapse: collapse;
    background-color: #f0f0f0;
}

th, td {
    border: 1px solid #aaaaaa;
    padding: 12px 30px;
    text-align: left;
}

th {
    font-weight: bold;
}

.resumo {
    margin-bottom: 40px;
}

.eventos {
    width: 100%;
}

/* Botões */
.botao-editar,.botao-cancelar {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #aaaaaa;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    margin: 0 4px;
}

/* FOOTER */
footer {
    background-color: #0f1f4b;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 16px;
    font-size: 13px;
    margin-top: 500px;
}